.btn{
    cursor: pointer;
    z-index: 10;
}
.btn-container{
    z-index: 5;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F7E2DF;
    cursor: pointer;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}
.btn-container:hover{
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 0 5px lightgray;
}

  .btn__todo{
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
  }
  .btn__todo:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 0 5px lightgray;
  }
  .list__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 20px;
  }